alabaster==0.7.12
altgraph==0.17.2
Babel==2.9.1
Brotli==1.0.9
cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.6
colorama==0.4.4
colored==1.4.2
coverage==6.0
cssselect2==0.4.1
defusedxml==0.7.1
docutils==0.17.1
et-xmlfile==1.1.0
fonttools==4.27.1
future==0.18.2
Gooey==1.0.8.1
html5lib==1.1
idna==3.2
imagesize==1.2.0
importlib-metadata==4.8.1
install==1.3.4
jdcal==1.4.1
Jinja2==3.0.1
macholib==1.15.2
MarkupSafe==2.0.1
numpy==1.21.2
olefile==0.46
openpyxl==3.0.9
packaging==21.0
pandas==1.3.3
pdfrw==0.4
pefile==2021.9.3
Pillow==8.3.2
pip==21.2.4
pockets==0.9.1
psutil==5.8.0
pycparser==2.20
pydyf==0.1.1
Pygments==2.10.0
pygtrie==2.4.2
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pyparsing==2.4.7
pyphen==0.11.0
pypiwin32==223
Pypubsub==4.0.3
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
python-dateutil==2.8.2
pytz==2021.1
pywin32==301
pywin32-ctypes==0.2.0
requests==2.26.0
setuptools==58.1.0
sip==6.1.1
six==1.16.0
snowballstemmer==2.1.0
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
sphinx-rtd-theme==1.0.0
tabulate==0.8.9
tinycss2==1.1.0
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
WeasyPrint==52.5
webencodings==0.5.1
wheel==0.37.0
wxPython==4.1.1
XlsxWriter==3.0.1
zipp==3.5.1
zopfli==0.1.8
